section {
	margin-left: auto;
    margin-right: auto;
    width: 400px;
}

input {
	width: 200px;
}

#button {
	width: 100px;
}

.radio {
	width: 20px;
}
/*скопированно с сайта http://htmlbook.ru/css/border-collapse*/
table { 
    width: 100%; /* Ширина таблицы */
    border: 4px double black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
   }
   th { 
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
   td { 
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }